@import url('/styles/base.css');

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    margin-top: 85px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 65vh;
    background-color: #ededed;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
}