@import url('/styles/base.css');

.list-product-format {
    align-items: center;
    font-weight: 500;
}

.list-product-product-icon {
    height: 85px;
    border: 1px solid #ccc;;
}

.edit-btn {
    font-size: 18px;
    background-color: #0f7e09;
    color: #fff;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.edit-btn:hover {
    background-color: #005b00;
}

.delete-btn {
    font-size: 18px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #940000;
}